.scroller{
  position: fixed;
  bottom: 25px;
  left: 50vw;
  margin-left: -16px;
  cursor: pointer;
}

@media (max-width:600px){
  .scroller{
    display: none;
  }
}

.flipped{
  animation: flip forwards;
  animation-duration: 3s;
}

@keyframes flip {
  0% {rotate: (0deg);}
  100% {top: (180deg);}
}